<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="json-filter.ZPM">
    <Module>
        <Name>json-filter</Name>
        <Version>1.2.0</Version>
        <Packaging>module</Packaging>
        <Dependencies>
          <ModuleReference>
            <Name>swagger-ui</Name>
            <Version>*</Version>
          </ModuleReference>
        </Dependencies>
        <SourcesRoot>src</SourcesRoot>
        <Resource Name="Isc.JSONFiltering.PKG"/>
        
        <CSPApplication 
            Path="/src/csp"
            Url="/csp/jsonfilterrest" 
            CookiePath="/csp/jsonfilterrest/"
            PasswordAuthEnabled="1"
            AuthenticationMethods="32" 
            DispatchClass="Isc.JSONFiltering.Rest.FilteringDemo"/>
        
        <CSPApplication
            Path="/src/csp"
            Url="/csp/jsonfilter"
            CookiePath="/csp/jsonfilter/"
            Directory="{$cspdir}/jsonfilter"
            ServeFiles="1"
            PasswordAuthEnabled="1"
            AuthenticationMethods="32" 
            Recurse="1"/>

        <UnitTest Name="/tests" Package="UnitTest.Isc.JSONFiltering.Services" Phase="test"/>
    </Module>
  </Document>
</Export>